apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: simple-nodejs-app-umfs
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: simple-nodejs-app-umfs
    app.kubernetes.io/part-of: nodejs-users
  name: simple-nodejs-app-umfs
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: nodejs-app
      app.kubernetes.io/instance: simple-nodejs-app-umfs
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nodejs-app
        app.kubernetes.io/instance: simple-nodejs-app-umfs
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-xqst-tenant/nodejs-users/simple-nodejs-app-umfs@sha256:e596cfda7acd4bcf6d2a431837ef39ef92a57fc79adef7101571ce48eba7aa1c
        name: my-nodejs
        ports:
        - containerPort: 3001
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
status: {}
